In [14]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()
print(password)
# Note that when you use _SQLAlchemy_ and establish the connection, you do not even need to be logged in Sequel Pro or MySQL Workbench.

········
5hhbqtzVvfgx

In [15]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [16]:
def rentals_month(engine, month, year):
    query = f"""
    SELECT rental_id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    with engine.connect() as connection:
        rentals_df = pd.read_sql(query, connection)
    return rentals_df

In [17]:
def rental_count_month(rentals_df, month, year):
    rental_count_df = rentals_df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    return rental_count_df

In [18]:
def compare_rentals(df1, df2):
    combined_df = pd.merge(df1, df2, on='customer_id', how='outer').fillna(0)
    combined_df['difference'] = combined_df.iloc[:, 1] - combined_df.iloc[:, 2]
    return combined_df

In [19]:
# Step 1: Retrieve rental data for May 2005 and June 2005
may_rentals_df = rentals_month(engine, 5, 2005)
june_rentals_df = rentals_month(engine, 6, 2005)

In [20]:
# Step 2: Count the number of rentals for each customer in May and June
may_rental_count_df = rental_count_month(may_rentals_df, 5, 2005)
june_rental_count_df = rental_count_month(june_rentals_df, 6, 2005)

In [21]:
# Step 3: Compare the rental counts between May and June
comparison_df = compare_rentals(may_rental_count_df, june_rental_count_df)

In [22]:
# Display the result
print(comparison_df)

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1              2.0              7.0        -5.0
1              2              1.0              1.0         0.0
2              3              2.0              4.0        -2.0
3              5              3.0              5.0        -2.0
4              6              3.0              4.0        -1.0
..           ...              ...              ...         ...
593          583              0.0              6.0        -6.0
594          585              0.0              4.0        -4.0
595          591              0.0              3.0        -3.0
596          592              0.0              5.0        -5.0
597          598              0.0              1.0        -1.0

[598 rows x 4 columns]